# Primary RPC Endpoint (e.g., Helius, Alchemy, QuickNode)
SOLANA_RPC_URL="https://api.devnet.solana.com"

# Fallback Endpoints for High Availability
SOLANA_RPC_FALLBACK_1=""
SOLANA_RPC_FALLBACK_2=""
SOLANA_RPC_FALLBACK_3=""

# Turbin3 Q2 WBA Program ID
TURBIN3_PROGRAM_ID="WBAQSygkwMox2VuWKU133NxFrpDZUBdvSBeaBEue2Jq"

# Your Github Handle for Enrollment
GITHUB_HANDLE="YourGithubUsernameHere"
